@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

#shoppingCartComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
}

h1 {
  font-size: 50px;
  color: white !important;
  width: 100%;
  cursor: default;
}

h2 {
  color: rgba(198, 172, 237, 1);
  font-size: 22px;
  margin-bottom: 0%;
}

#cartFeedback span {
  color: rgba(198, 172, 237, 1);
  font-size: 20px;
}

#cartItem h2 {
  color: white;
}

#cartItem img {
  height: 200px;
  cursor: pointer;
}

#cartItem .btn {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#cartItem .btn#plus {
  border-radius: 20px 20px 0px 0px;
}

#cartItem .btn#minus {
  border-radius: 0px 0px 20px 20px;
}

#payButton {
  color: white;
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#sendInformationModal {
  font-family: 'Itim', 'cursive';
}

#sendInformationModal .modal-content {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#sendInformationModal .modal-content h5 {
  cursor: default;
  color: white;
}

#sendInformationModal .modal-body i {
  color: white;
}

#sendInformationModal .modal-body input {
  color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  text-transform: uppercase;
}

#sendInformationModal span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  width: 41px;
}

#sendInformationModal .modal-content button {
  background-color: rgba(198, 172, 237, 1);
  border: 1px white solid;
  width: auto;
}

#sendInformationModal .modal-content button:hover {
  background-color: white;
  color: rgba(198, 172, 237, 1);
  border: 1px rgba(198, 172, 237, 1) solid;
}

#sendInformationModal span.input-group-text {
  border: 1px 0px 1px 1px solid white;
  background-color: rgba(198, 172, 237, 1);
}

#sendInformationModal .modal-body,
#sendInformationModal .modal-footer {
  margin: 0px;
}

#sendInformationModal .modal-content small {
  cursor: pointer;
  font-size: 12px;
  color: white;
}

#sendInformationModal .modal-content small:hover {
  text-decoration: underline;
}

form .alert span {
  color: red;
}

form input::placeholder {
  color: rgba(198, 172, 237, 1);
}

@media screen and (max-width: 991px) {
  #shoppingCartComponent {
    position: relative;
    top: 91px;
  }

  h2,
  #cartFeedback span {
    font-size: 2vw;
  }

  #cartItem img {
    height: 23vw;
  }

  #cartItem .btn {
    width: 2vw;
    height: 2vw;
  }

  #cartItem .btn svg {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 521px) {
  h2 {
    font-size: 12px;
    right: 15px;
  }

  #cartFeedback span {
    font-size: 12px;
  }
}
