<div id="shoppingCartComponent" class="container-fluid">
  <h1 class="text-center">Contenido de tu carrito</h1>

  <hr />
  <div class="row text-center">
    <div class="col-3"><h2>Imagen</h2></div>
    <div class="col-3"><h2>Nombre</h2></div>
    <div class="col-3"><h2>Cantidad</h2></div>
    <div class="col-3"><h2>Precio</h2></div>
  </div>
  <hr />

  <div *ngFor="let ci of cartItems">
    <div id="cartItem" class="row text-center mt-4 align-items-center">
      <div class="col-3">
        <img routerLink="/productdetails/{{ ci.id }}" src="assets/images/products/{{ ci.imageUrl }}" alt="{{ ci.name }}" />
      </div>
      <div class="col-3">
        <h2>{{ ci.name }}</h2>
      </div>
      <div class="col-3">
        <button id="plus" class="btn btn-primary" (click)="incrementQuantity(ci)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </button>
        <h2 class="mx-2">{{ ci.quantity }}</h2>
        <button id="minus" class="btn btn-primary" (click)="decrementQuantity(ci)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
          </svg>
        </button>
      </div>
      <div class="col-3">
        <h2>{{ ci.price * ci.quantity | currency: 'S./' }}</h2>
      </div>
    </div>

    <hr />
  </div>

  <div *ngIf="cartItems?.length > 0" class="row text-center">
    <div class="col-5 offset-7">
      <h2 (click)="onPayButtonClick()" id="payButton" class="btn btn-primary float-right mb-3">
        <i *ngIf="!showLoading" class="fas fa-credit-card"></i>
        <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
        &nbsp;
        {{ totalPrice | currency: 'S./' }}
      </h2>
    </div>
  </div>
</div>

<!-- send information modal -->
<div
  class="modal fade"
  id="sendInformationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sendInformationModalTitle"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendInformationModalTitle">Información de envio</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="sendInformationFormGroup">
          <div formGroupName="sendInformation">
            <!-- send_firstNames -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_firstNames" [value]="user?.firstNames" placeholder="Nombres:" />
            </div>
            <div *ngIf="send_firstNames.invalid && (send_firstNames.touched || send_firstNames.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_firstNames.errors.required || send_firstNames.errors.notOnlyWhitespace">Nombres es requirido</span>
              <br *ngIf="send_firstNames.errors.required || send_firstNames.errors.notOnlyWhitespace" />
              <span *ngIf="send_firstNames.errors.minlength">Nombres require al menos 2 letras</span>
            </div>

            <!-- send_lastName_1 + send_lastName_2 -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_lastNames" [value]="user?.lastName_1 + ' ' + user?.lastName_2" placeholder="Apellidos:" />
            </div>
            <div *ngIf="send_lastNames.invalid && (send_lastNames.touched || send_lastNames.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_lastNames.errors.required || send_lastNames.errors.notOnlyWhitespace">Apellidos es requirido</span>
              <br *ngIf="send_lastNames.errors.required || send_lastNames.errors.notOnlyWhitespace" />
              <span *ngIf="send_lastNames.errors.minlength">Apellidos require al menos 2 letras</span>
            </div>

            <!-- send_street -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_street" [value]="user?.address?.street" placeholder="Calle:" />
            </div>
            <div *ngIf="send_street.invalid && (send_street.touched || send_street.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_street.errors.required || send_street.errors.notOnlyWhitespace">Calle es requirido</span>
              <br *ngIf="send_street.errors.required || send_street.errors.notOnlyWhitespace" />
              <span *ngIf="send_street.errors.minlength">Calle require al menos 2 letras</span>
            </div>

            <!-- send_number -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_number" [value]="user?.address?.number" placeholder="Número (y dpto):" />
            </div>
            <div *ngIf="send_number.invalid && (send_number.touched || send_number.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_number.errors.required || send_number.errors.notOnlyWhitespace">Número es requirido</span>
              <br *ngIf="send_number.errors.required || send_number.errors.notOnlyWhitespace" />
              <span *ngIf="send_number.errors.minlength">Número require al menos 2 letras</span>
            </div>

            <!-- send_city -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_city" [value]="user?.address?.city" placeholder="Ciudad:" />
            </div>
            <div *ngIf="send_city.invalid && (send_city.touched || send_city.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_city.errors.required || send_city.errors.notOnlyWhitespace">Ciudad es requirido</span>
              <br *ngIf="send_city.errors.required || send_city.errors.notOnlyWhitespace" />
              <span *ngIf="send_city.errors.minlength">Ciudad require al menos 2 letras</span>
            </div>

            <!-- send_province -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_province" [value]="user?.address?.province" placeholder="Provincia:" />
            </div>
            <div *ngIf="send_province.invalid && (send_province.touched || send_province.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_province.errors.required || send_province.errors.notOnlyWhitespace">Provincia es requirido</span>
              <br *ngIf="send_province.errors.required || send_province.errors.notOnlyWhitespace" />
              <span *ngIf="send_province.errors.minlength">Provincia require al menos 2 letras</span>
            </div>

            <!-- send_department -->
            <div class="input-group mt-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="send_department" [value]="user?.address?.department" placeholder="Departamento:" />
            </div>
            <div *ngIf="send_department.invalid && (send_department.touched || send_department.dirty)" class="alert alert-danger mt-2 mb-0">
              <span *ngIf="send_department.errors.required || send_department.errors.notOnlyWhitespace">Departamento es requirido</span>
              <br *ngIf="send_department.errors.required || send_department.errors.notOnlyWhitespace" />
              <span *ngIf="send_department.errors.minlength">Departamento require al menos 2 letras</span>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12">
        <small id="changeSendInfoText" (click)="onChangeSendInfo()" [hidden]="allowSendInfoChange" class="float-right">Cick aquí para cambiar la información</small>
      </div>

      <div class="modal-footer row">
        <div class="col-12">
          <button (click)="onSaveSendAddress()" id="payButton" type="button" class="btn btn-primary float-right">
            <i class="fas fa-arrow-circle-right"></i>
            &nbsp; Siguiente
          </button>
          <button (click)="onCancelPayment()" id="addressCancelButton" type="button" class="btn btn-primary float-right mr-2" data-dismiss="modal">
            <i class="fas fa-times-circle"></i>
            &nbsp; Anular
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notificationContainer"></div>
