<div id="productDetailsComponent" class="container-fluid">
  <div *ngIf="product !== undefined">
    <h1 class="text-center">{{ product.name }}</h1>

    <div id="productBox" class="row">
      <div class="col-md-6 col-sm-12 text-center mt-3">
        <img [src]="imageUrl" alt="{{ product.name }}" />
      </div>

      <div id="productInfo" class="col-md-6 col-sm-12 float-left mt-3">
        <h4 id="productDescription">{{ product.description }}</h4>
        <h5 class="mt-5">Marca: {{ product.brand }}</h5>
        <h5 class="my-3">Categoría: {{ product.category.categoryName }}</h5>
      </div>
    </div>

    <div id="addButtonContainer" class="row">
      <button
        [disabled]="product.stock <= 0"
        class="btn btn-primary mx-auto mb-2 shadow-none"
        (click)="addToCart()"
        (mouseenter)="onAddButtonHover($event)"
        (mouseleave)="onAddButtonLeave($event)"
      >
        Añadir
        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
          />
          <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="notificationContainer"></div>
