@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:host {
  background-color: rgba(198, 172, 237, 0.5) !important;
}

#productDetailsComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
}

h1 {
  font-size: 50px;
  color: white !important;
  width: 100%;
  cursor: default;
}

#productDescription {
  white-space: pre-line;
}

#productBox {
  margin-top: 30px;
  font-family: 'Itim', 'cursive';
  color: rgba(198, 172, 237, 1);
}

img {
  width: 350px;
}

#addButtonContainer button {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

@media screen and (max-width: 991px) {
  #productDetailsComponent {
    position: relative;
    top: 91px;
  }

  #productDetailsComponent::after {
    content: '';
    position: absolute;
  }

  img {
    width: 250px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
