<!-- users -->
<div id="usersComponent" class="container-fluid">
  <div id="user-searchbar-container">
    <hr />
    <div id="user-searchbar" class="input-group mb-3 search-bar mx-auto mt-1">
      <input [(ngModel)]="keyword" type="text" class="form-control" placeholder="Nombre(s), email o dni:" (input)="searchUsers()" (keyup.enter)="searchUsers()" />
      <div class="input-group-append">
        <button class="btn" type="button" (click)="clearInputField()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <hr [hidden]="users?.length === 0" />
  <div [hidden]="users?.length === 0" class="row text-center">
    <div class="col-4"><h2>Nombre</h2></div>
    <div class="col-4"><h2>Email</h2></div>
    <div class="col-4"><h2>DNI</h2></div>
  </div>
  <hr [hidden]="users?.length === 0" />

  <div [hidden]="users?.length === 0" class="mt-2">
    <div
      (click)="getActiveUser(user?.email)"
      *ngFor="let user of users"
      class="user row text-center py-4 align-items-center"
      data-toggle="modal"
      data-target="#user-information-modal"
    >
      <div class="col-4">
        <h2>{{ user?.firstNames + ' ' + user?.lastName_1 + ' ' + user?.lastName_2 }}</h2>
      </div>
      <div class="col-4">
        <h2 style="word-wrap: break-word">{{ user?.email }}</h2>
      </div>
      <div class="col-4">
        <h2>{{ user?.dni }}</h2>
      </div>
    </div>
  </div>

  <!-- user information modal -->
  <div
    (click)="closeUserInformationModal()"
    class="modal fade"
    id="user-information-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="user-information-modal-title"
    aria-hidden="true"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user-information-modal-title">Información del usuario</h5>
        </div>
        <div class="modal-body">
          <!-- firstNames -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.firstNames" />
          </div>

          <!-- lastName_1 + lastName_2 -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.lastName_1 + ' ' + activeUser?.lastName_2" />
          </div>

          <!-- street -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-house-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.address.street" />
          </div>

          <!-- number -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-house-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.address.number" />
          </div>

          <!-- city -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-house-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.address.city" />
          </div>

          <!-- province -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-house-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.address.province" />
          </div>

          <!-- department -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-house-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeUser?.address.department" />
          </div>
        </div>

        <h5 class="text-center">Aportación total: {{ incomeForActiveUser | currency: 'S./' }}</h5>
      </div>
    </div>
  </div>
</div>
