#usersComponent #user-searchbar {
  width: 50%;
}

#usersComponent #user-searchbar input {
  width: 25vw;
  border: 2px solid rgba(198, 172, 237, 1);
  color: rgba(198, 172, 237, 1);
}

#usersComponent #user-searchbar input[type='text']::placeholder {
  color: rgba(198, 172, 237, 1) !important;
}

#usersComponent #user-searchbar button {
  background: rgba(198, 172, 237, 1);
  z-index: 0;
}

#usersComponent h2 {
  color: rgba(198, 172, 237, 1);
  font-size: 22px;
  margin-bottom: 0%;
}

#usersComponent h2 i {
  color: white;
}

#usersComponent .user {
  cursor: pointer;
}

#usersComponent .user:hover {
  background: rgba(198, 172, 237, 0.5);
}

#usersComponent .user:hover h2 {
  color: white;
}

#usersComponent #user-information-modal .modal-content {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#usersComponent #user-information-modal .modal-content h5 {
  cursor: default;
  color: white;
}

#usersComponent #user-information-modal .modal-body i {
  color: white;
}

#usersComponent #user-information-modal .modal-body input {
  color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  text-transform: uppercase;
}

#usersComponent #user-information-modal span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  width: 41px;
}

@media screen and (max-width: 991px) {
  #usersComponent h2 {
    font-size: 2vw;
  }

  #usersComponent #user-searchbar {
    width: 100%;
  }
}

@media screen and (max-width: 521px) {
  #usersComponent h2 {
    position: relative;
    font-size: 12px;
    left: 15px;
  }
}
