:host {
  background-color: rgba(198, 172, 237, 0.5) !important;
}

#notFoundComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
}

h1 {
  font-size: 50px;
  color: white !important;
  width: 100%;
  cursor: default;
}

@media screen and (max-width: 991px) {
  #notFoundComponent {
    position: relative;
    top: 91px;
  }

  #notFoundComponent::after {
    content: '';
    position: absolute;
  }
}
