@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

#showProductsComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
}

#addProductButton {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#productCategoriesContainer {
  display: flex;
  margin-left: 0px;
  overflow-x: auto;
  scrollbar-color: rgba(198, 172, 237, 1) white;
}

#productCategoriesContainer::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(198, 172, 237, 1);
  border-radius: 15px;
}

#productCategoriesContainer::-webkit-scrollbar-track-piece {
  background-color: white;
  border-radius: 15px;
}

#productCategoriesContainer::-webkit-scrollbar-thumb {
  background-color: rgba(198, 172, 237, 1);
  border-radius: 15px;
}

#productCategoriesContainer a {
  font-size: 20px;
  color: white;
  white-space: nowrap;
}

#productCategoriesContainer a:hover {
  color: rgba(198, 172, 237, 1) !important;
  animation: color 4.5s ease forwards;
  background-image: linear-gradient(0deg, rgba(198, 172, 237, 1), rgba(253, 102, 195, 0.5)) !important;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}

#noProducts span {
  font-family: 'Itim', 'cursive';
  color: rgba(198, 172, 237, 1);
}

img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  cursor: pointer;
}

.card h5 {
  height: 25px;
}

.card h5,
.card p {
  font-family: 'Itim', 'cursive';
  color: rgba(198, 172, 237, 1);
}

.card button.btn {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

.card button.btn svg {
  margin-bottom: 3px;
}

@media screen and (max-width: 991px) {
  #showProductsComponent {
    position: relative;
    top: 91px;
  }

  #showProductsComponent::after {
    content: '';
    position: absolute;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
