<div id="showProductsComponent" class="container-fluid">
  <a id="addProductButton" class="btn btn-primary mt-2" routerLink="/addproduct" [hidden]="!isAdmin">Añadir producto</a>

  <div id="productCategoriesContainer">
    <div *ngFor="let pc of productCategories" class="mt-2">
      <a
        [ngStyle]="{ color: pc.id === productCategoryId ? 'rgba(198, 172, 237, 1)' : 'white' }"
        routerLink="/category/{{ pc.id }}"
        (click)="showProductsByCategoryName($event); colorProductCategoryLink($event)"
        id="{{ pc.id }}"
        class="mx-2 mb-1 productCategoryLink"
        >{{ pc.categoryName }}</a
      >
    </div>
  </div>

  <div id="noProducts" *ngIf="products && products.length === 0" class="mt-4 text-center">
    <span class="alert alert-primary">No hay productos</span>
  </div>

  <div class="row">
    <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card mt-2 mx-auto mb-2" [ngStyle]="{ opacity: product.stock > 0 ? '1' : '0.7' }">
        <img class="card-img-top" src="../../../assets/images/products/{{ product.imageUrl }}" alt="{{ product.name }}" routerLink="/productdetails/{{ product.id }}" />
        <div class="card-body text-center">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text text-right mt-5">
            {{ product.price | currency: 'S./' }}
            <br />
            Stock: {{ product.stock }}
          </p>

          <!-- add to cart button -->
          <button
            [disabled]="product.stock <= 0"
            (click)="addToCart(product.id)"
            class="btn btn-primary addToCardBtn float-left shadow-none"
            (mouseenter)="onAddButtonHover($event)"
            (mouseleave)="onAddButtonLeave($event)"
          >
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="white" xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
              />
              <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
            </svg>
          </button>

          <!-- delete product button -->
          <button class="btn btn-primary float-right shadow-none" (click)="onDelete(product.id)" [hidden]="!isAdmin">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
              />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              />
            </svg>
          </button>

          <!-- edit product button -->
          <button class="btn btn-primary float-right mr-1 shadow-none" (click)="onEdit(product.id)" [hidden]="!isAdmin">
            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notificationContainer"></div>
