<app-header></app-header>
<side-menu style="z-index: -1"></side-menu>
<router-outlet></router-outlet>

<!-- mobile menu arrow -->
<div (click)="toggleSideMenu()" class="mobile-menu-arrow">
  <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="rgba(198, 172, 237, 1)" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
  </svg>
</div>

<!-- cookie consent banner -->
<div [hidden]="cookiesAccepted" id="cookie-banner">
  <span class="float-left">Esta página utiliza cookies.</span>
  <span (click)="acceptCookies()" class="float-right">Aceptar</span>
</div>
