.mobile-menu-arrow {
  display: none;
}

#cookie-banner {
  z-index: 1;
  background-color: rgba(198, 172, 237, 1);
  position: fixed;
  bottom: 20px;
  width: 40%;
  padding: 3px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

#cookie-banner .float-left {
  margin-left: 5px;
}

#cookie-banner .float-right {
  text-decoration: underline;
  cursor: default;
  margin-right: 5px;
}

#cookie-banner .float-right:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .mobile-menu-arrow {
    display: block;
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    z-index: 3 !important;
  }

  #cookie-banner {
    bottom: 0px;
    width: 100%;
  }
}
