<!-- mobile nav -->
<div class="side-nav" (window:resize)="closeSideMenuOnScreenResize()">
  <a (click)="toggleSideMenu()" class="navbar-brand navbar-brand-mobile" routerLink="/">
    <img src="../../assets/images/violet_bazar_logo.jpg" height="75px" alt="violeta-bazar-logo" />
  </a>

  <!-- search bar -->
  <div id="search-bar-mobile" class="input-group mb-3">
    <input (keyup.enter)="toggleSideMenu(); searchProducts()" type="text" class="form-control" placeholder="Qué estás buscando?" />
    <div class="input-group-append">
      <button (click)="toggleSideMenu(); searchProducts()" class="btn" type="button">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
      </button>
    </div>
  </div>

  <!-- product categories -->
  <div id="productCategoriesContainerSM" class="mt-4" *ngIf="productCategories">
    <div *ngFor="let pc of productCategories">
      <div (click)="toggleSideMenu()" routerLink="category/{{ pc.id }}" class="productCategoryBox mx-2">
        <img src="../../../assets/images/categories/{{ pc.categoryName }}.png" alt="{{ pc.categoryName }}" />
        <p class="text-center">
          {{ pc.categoryName }}
        </p>
      </div>
    </div>
  </div>

  <!-- account and shopping cart buttons -->
  <div id="button-links-container">
    <div id="button-links">
      <div class="row">
        <a (click)="toggleSideMenu()" routerLink="/" class="btn btn-primary mt-2 col-5 text-right mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-house-fill float-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
          </svg>
          Productos
        </a>
      </div>

      <div class="row">
        <a (click)="toggleSideMenu()" routerLink="shoppingcart" class="btn btn-primary mt-2 col-5 text-right mx-auto">
          <svg id="shopping-cart-icon" width="25" height="25" viewBox="0 0 16 16" class="bi bi-cart-fill float-left" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
            />
          </svg>
          Carrito
        </a>
      </div>

      <div class="row">
        <a (click)="toggleSideMenu(); onUserNavigate()" class="btn btn-primary mt-2 col-5 text-right mx-auto">
          <svg id="account-icon" width="25" height="25" viewBox="0 0 16 16" class="bi bi-person-fill float-left" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
          {{ userButtonTitle }}
        </a>
      </div>

      <!-- <div class="row">
        <a (click)="toggleSideMenu()" class="btn btn-primary mt-2 col-5 text-right mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-info-square float-left" viewBox="0 0 16 16">
            <path
              fill-rule="evenodd"
              d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
            />
            <path
              fill-rule="evenodd"
              d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
            />
            <path
              d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"
            />
            <circle cx="8" cy="4.5" r="1" />
          </svg>
          Nosotros
        </a>
      </div> -->
    </div>
  </div>
</div>
