@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* style for mobile nav */
.side-nav {
  position: fixed;
  left: -100%;
  width: 100%;
  z-index: 2 !important;
}

.navbar-brand-mobile {
  display: none;
}

/* search bar */
#search-bar-mobile {
  visibility: hidden;
}

#search-bar-mobile input {
  width: 25vw;
  border: 2px solid rgba(198, 172, 237, 1);
}

#search-bar-mobile input[type='text']::placeholder {
  font-family: 'Itim', 'cursive';
  color: rgba(198, 172, 237, 0.5) !important;
}

#search-bar-mobile input:focus {
  outline: none !important;
}

#search-bar-mobile button {
  background: rgba(198, 172, 237, 1);
}

/* product categories */
#productCategoriesContainerSM {
  display: flex;
  overflow-x: auto;
  scrollbar-color: rgba(198, 172, 237, 1) white;
}

#productCategoriesContainerSM .productCategoryBox {
  width: 150px;
}

#productCategoriesContainerSM .productCategoryBox:focus {
  outline: none;
}

#productCategoriesContainerSM img {
  height: 100px;
  width: 150px;
}

#productCategoriesContainerSM p {
  font-family: 'Itim', 'cursive';
  font-size: 20px;
  color: white;
  background-color: rgba(198, 172, 237, 1);
  white-space: nowrap;
}

#productCategoriesContainerSM::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(198, 172, 237, 1);
}

#productCategoriesContainerSM::-webkit-scrollbar-track-piece {
  background-color: white;
}

#productCategoriesContainerSM::-webkit-scrollbar-thumb {
  background-color: rgba(198, 172, 237, 1);
}

#button-links-container {
  font-family: 'Itim', 'cursive';
  height: 100%;
}

#button-links-container .btn {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#button-links {
  position: relative;
  top: 50%;
  transform: translateY(-150%);
}

/* nav links */
.mobile-links {
  display: none;
}

@media screen and (max-width: 991px) {
  .side-nav {
    height: 100vh;
    background: url('../../../../assets/images/side-menu-background-adapted.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -100%;
  }

  .navbar-brand-mobile {
    display: inline-block;
    margin: 8px 0px 0px 16px;
  }

  #search-bar-mobile {
    width: 80%;
    margin-top: 5%;
    visibility: visible;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobile-links {
    display: block;
    position: absolute;
    bottom: 7vh;
  }

  .mobile-links li {
    list-style-type: none;
    display: block;
    margin-bottom: 25px;
  }

  .mobile-links a {
    font-family: 'Itim', 'cursive';
    font-size: 25px;
    color: rgba(198, 172, 237, 1) !important;
    padding: 0;
    margin: 0;
  }

  .mobile-links a:hover {
    text-decoration: none;
  }
}

/* nav links animations */
@keyframes slide {
  0% {
    width: 0%;
    opacity: 50%;
  }
  100% {
    width: 100%;
    opacity: 100%;
  }
}

/* mobile nav animations */
@keyframes slideOpen {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slideClose {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes rotate-180-left {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-180deg);
  }
}

@keyframes rotate-180-right {
  0% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
