@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

#loginComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
}

h1 {
  font-family: 'Itim', 'cursive';
  font-size: 50px;
  color: white !important;
  width: auto;
  cursor: default;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#form-container {
  padding: 20px;
  background-color: rgba(198, 172, 237, 0.5);
  border-radius: 10px;
  width: 350px;
}

form input {
  color: rgba(198, 172, 237, 1);
  border: 2px white;
}

form input::placeholder {
  color: rgba(198, 172, 237, 1);
}

form span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: 2px white;
  width: 41px;
}

form i {
  color: white;
}

form button {
  color: white;
  background-color: rgba(198, 172, 237, 1);
}

span#register-link {
  color: white;
}

span#register-link a {
  color: white;
  text-decoration: underline;
}

.alert span {
  color: red;
}

@media screen and (max-width: 991px) {
  #loginComponent {
    position: relative;
    top: 91px;
  }

  #loginComponent::after {
    content: '';
    position: absolute;
  }

  #form-container {
    width: 275px;
  }
}
