<div id="loginComponent" class="container-fluid">
  <h1>Login</h1>

  <div id="form-container" class="mx-auto">
    <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
      <div formGroupName="userData">
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" formControlName="email" placeholder="Email:" />
        </div>
        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="email.errors.required || email.errors.notOnlyWhitespace">Email es requirido</span>
          <br *ngIf="email.errors.required || email.errors.notOnlyWhitespace" />
          <span *ngIf="email.errors.minlength">Email require al menos 5 caracteres</span>
          <br *ngIf="email.errors.minlength" />
          <span *ngIf="email.errors.pattern">Email no es válido</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" formControlName="password" placeholder="Contraseña:" />
        </div>
        <div *ngIf="password.invalid && (password.touched || password.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="password.errors.required || password.errors.notOnlyWhitespace">Contraseña es requirido</span>
        </div>
      </div>

      <div class="row">
        <button type="submit" [disabled]="userData.invalid || showLoading" class="btn mt-3 mx-auto">
          <i *ngIf="!showLoading" class="fas fa-sign-in-alt"></i>
          <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
          &nbsp;
          <span id="loginButton">Entrar</span>
        </button>
      </div>
    </form>

    <div class="row mt-3">
      <span id="register-link" class="mx-auto">No tienes cuenta? <a routerLink="/register">Regístrate</a></span>
    </div>
  </div>
</div>

<div class="notificationContainer"></div>
