<a class="logo-small-screen" routerLink="/">
  <img src="../../assets/images/violet_bazar_logo.jpg" height="35px" alt="violeta-bazar-logo" />
</a>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/violet_bazar_logo.jpg" height="75px" alt="violeta-bazar-logo" />
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul id="links" class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Productos <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li> -->
    </ul>
  </div>

  <!-- search bar -->
  <div id="search-bar-desktop" class="input-group mb-3 search-bar my-auto">
    <input type="text" class="form-control" placeholder="Qué estás buscando?" (keyup.enter)="searchProducts()" />
    <div class="input-group-append">
      <button class="btn" type="button" (click)="searchProducts()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
      </button>
    </div>
  </div>

  <!-- icons -->
  <div id="account-icon-container" class="d-flex justify-content-start">
    <svg
      (click)="navigate()"
      id="account-icon"
      width="35px"
      height="35px"
      viewBox="0 0 16 16"
      class="bi bi-person-fill"
      fill="rgba(198, 172, 237, 1)"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
    </svg>
  </div>
  <div id="cart-icon-container" class="d-flex justify-content-end">
    <svg
      routerLink="shoppingcart"
      id="shopping-cart-icon"
      width="35px"
      height="35px"
      viewBox="0 0 16 16"
      class="bi bi-cart-fill"
      fill="rgba(198, 172, 237, 1)"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
      />
    </svg>
  </div>
</nav>
