@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* style for links */
.navbar #links {
  width: 350px;
}

a {
  font-family: 'Itim', 'cursive';
  font-size: 25px;
  color: rgba(198, 172, 237, 0.5) !important;
  padding: 0;
  margin: 0;
}

a:hover {
  color: rgba(198, 172, 237, 1) !important;
  animation: color 4.5s ease forwards;
  background-image: linear-gradient(0deg, rgba(198, 172, 237, 1), rgba(253, 102, 195, 0.5)) !important;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

svg {
  background-image: none;
}

.logo-small-screen {
  display: none;
}

#search-bar-desktop {
  position: absolute;
  top: 30px;
  width: 40%;
  visibility: visible;
  left: 50%;
  transform: translateX(-50%);
}

#search-bar-desktop input,
#search-bar-mobile input {
  width: 25vw;
  border: 2px solid rgba(198, 172, 237, 1);
}

#search-bar-desktop input[type='text']::placeholder,
#search-bar-mobile input[type='text']::placeholder {
  font-family: 'Itim', 'cursive';
  color: rgba(198, 172, 237, 0.5) !important;
}

#search-bar-desktop input:focus,
#search-bar-mobile input:focus {
  outline: none !important;
}

#search-bar-desktop button,
#search-bar-mobile button {
  background: rgba(198, 172, 237, 1);
}

/* style for the nav icons */
#account-icon-container,
#cart-icon-container {
  width: auto;
}

#account-icon,
#shopping-cart-icon {
  cursor: pointer;
  margin-right: 10px;
}

#account-icon:focus,
#shopping-cart-icon:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 0;
  }

  nav img {
    top: 300px;
    width: 70%;
    visibility: visible;
    margin-top: 300px;
    display: none;
  }

  .logo-small-screen {
    display: inline-block;
    margin: 25px 0px 0px 16px;
    position: absolute;
  }

  .navbar-collapse {
    height: 100vh;
  }

  .navbar-collapse a {
    margin-top: calc(100vw / 3);
    display: block;
    max-width: auto !important;
  }

  .navbar-collapse li {
    display: inline-block;
    width: auto !important;
  }

  #account-icon-container {
    position: absolute;
    top: 30px;
    right: 45px;
  }

  #cart-icon-container {
    position: relative;
    top: 30px;
    margin-right: 10px;
    visibility: visible;
    z-index: 1;
  }
}
