<div id="registerComponent" class="container-fluid">
  <h1>Registrar</h1>

  <div id="form-container" class="mx-auto">
    <form [formGroup]="registerFormGroup" (ngSubmit)="onRegister()">
      <div formGroupName="formUser">
        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="dni" placeholder="DNI:" />
        </div>
        <div *ngIf="dni.invalid && (dni.touched || dni.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="dni.errors.required">DNI es requirido</span>
          <br *ngIf="dni.errors.required" />
          <span *ngIf="dni.errors.pattern">DNI debe contener 8 números</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="street" placeholder="Calle:" />
        </div>
        <div *ngIf="street.invalid && (street.touched || street.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="street.errors.required || street.errors.notOnlyWhitespace">Calle es requirido</span>
          <br *ngIf="street.errors.required || street.errors.notOnlyWhitespace" />
          <span *ngIf="street.errors.minlength">Calle require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="number" placeholder="Número (y dpto):" />
        </div>
        <div *ngIf="number.invalid && (number.touched || number.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="number.errors.required || number.errors.notOnlyWhitespace">Número es requirido</span>
          <br *ngIf="number.errors.required || number.errors.notOnlyWhitespace" />
          <span *ngIf="number.errors.minlength">Número require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="city" placeholder="Ciudad:" />
        </div>
        <div *ngIf="city.invalid && (city.touched || city.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="city.errors.required || city.errors.notOnlyWhitespace">Ciudad es requirido</span>
          <br *ngIf="city.errors.required || city.errors.notOnlyWhitespace" />
          <span *ngIf="city.errors.minlength">Ciudad require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="province" placeholder="Provincia:" />
        </div>
        <div *ngIf="province.invalid && (province.touched || province.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="province.errors.required || province.errors.notOnlyWhitespace">Provincia es requirido</span>
          <br *ngIf="province.errors.required || province.errors.notOnlyWhitespace" />
          <span *ngIf="province.errors.minlength">Provincia require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="department" placeholder="Departamento:" />
        </div>
        <div *ngIf="department.invalid && (department.touched || department.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="department.errors.required || department.errors.notOnlyWhitespace">Departamento es requirido</span>
          <br *ngIf="department.errors.required || department.errors.notOnlyWhitespace" />
          <span *ngIf="department.errors.minlength">Departamento require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" formControlName="email" placeholder="Email:" />
        </div>
        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="email.errors.required || email.errors.notOnlyWhitespace">Email es requirido</span>
          <br *ngIf="email.errors.required || email.errors.notOnlyWhitespace" />
          <span *ngIf="email.errors.minlength">Email require al menos 5 caracteres</span>
          <br *ngIf="email.errors.minlength" />
          <span *ngIf="email.errors.pattern">Email no es válido</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" formControlName="password" placeholder="Contraseña:" />
        </div>
        <div *ngIf="password.invalid && (password.touched || password.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="password.errors.required || password.errors.notOnlyWhitespace">Contraseña es requirido</span>
          <br *ngIf="password.errors.required || password.errors.notOnlyWhitespace" />
          <span *ngIf="password.errors.pattern">Contraseña debe medir al menor 8 caracteres y tener al menos:</span>
          <br *ngIf="password.errors.pattern" />
          <span *ngIf="password.errors.pattern"> - un letra mayúscula</span>
          <br *ngIf="password.errors.pattern" />
          <span *ngIf="password.errors.pattern"> - una letra minúscula</span>
          <br *ngIf="password.errors.pattern" />
          <span *ngIf="password.errors.pattern"> - un número</span>
          <br *ngIf="password.errors.pattern" />
          <span *ngIf="password.errors.pattern"> - un caracter especial (#?!@$%^&*-)</span>
        </div>
      </div>

      <div class="row">
        <button type="submit" [disabled]="formUser.invalid || showLoading" class="btn mt-3 mx-auto">
          <i *ngIf="!showLoading" class="fas fa-user-plus"></i>
          <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
          &nbsp;
          <span id="registerButton">Registrar</span>
        </button>
      </div>
    </form>

    <div class="row mt-3">
      <span id="login-link" class="mx-auto">Ya tienes cuenta? <a routerLink="/login">Login</a></span>
    </div>
  </div>
</div>

<!-- verify person modal -->
<div class="modal fade" id="verifyPersonModal" tabindex="-1" role="dialog" aria-labelledby="verifyPersonModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verifyPersonModalTitle">La info es correcta?</h5>
      </div>
      <div class="modal-body row">
        <div class="input-group mt-3 col-12">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input disabled type="text" class="form-control" [value]="firstNames" />
        </div>
        <div class="input-group mt-3 col-12">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input disabled type="text" class="form-control" [value]="lastName_1 + ' ' + lastName_2" />
        </div>
      </div>
      <div class="modal-footer row">
        <div class="col-12">
          <button (click)="onVerifyPerson(true)" id="yesButton" type="button" class="btn btn-primary float-right" data-dismiss="modal">
            <i class="fas fa-check-circle"></i>
            &nbsp; Si
          </button>
          <button (click)="onVerifyPerson(false)" id="noButton" type="button" class="btn btn-primary float-right mr-2" data-dismiss="modal">
            <i class="fas fa-times-circle"></i>
            &nbsp; No
          </button>
        </div>
        <div class="col-12">
          <small class="float-right">Si la info no es correcta, verifique tu DNI</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- hidden button to activate modal -->
<button id="modalButton" data-toggle="modal" data-target="#verifyPersonModal" hidden="true"></button>

<div class="notificationContainer"></div>
