@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

#registerComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
}

h1 {
  font-family: 'Itim', 'cursive';
  font-size: 50px;
  color: white !important;
  width: auto;
  cursor: default;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#form-container {
  padding: 20px;
  background-color: rgba(198, 172, 237, 0.5);
  border-radius: 10px;
  width: 350px;
  margin-top: 60px;
  margin-bottom: 60px;
}

form input,
#verifyPersonModal input {
  color: rgba(198, 172, 237, 1);
  border: 2px white;
}

form input::placeholder {
  color: rgba(198, 172, 237, 1);
}

form input[type='text'] {
  text-transform: uppercase;
}

form input[type='text']::placeholder {
  text-transform: none;
}

form span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: 2px white;
  width: 41px;
}

form i,
#verifyPersonModal .modal-content small,
#verifyPersonModal .modal-body i {
  color: white;
}

form button {
  color: white;
  background-color: rgba(198, 172, 237, 1);
}

span {
  color: red;
}

span#registerButton,
span#login-link,
#verifyPersonModal .modal-content h5 {
  color: white;
}

span#login-link a {
  color: white;
  text-decoration: underline;
}

#verifyPersonModal {
  font-family: 'Itim', 'cursive';
}

#verifyPersonModal .modal-content h5 {
  cursor: default;
}

#verifyPersonModal .modal-content {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#verifyPersonModal .modal-content button {
  background-color: rgba(198, 172, 237, 1);
  border: 1px white solid;
  width: 72px;
}

#verifyPersonModal .modal-content button:hover {
  background-color: white;
  color: rgba(198, 172, 237, 1);
  border: 1px rgba(198, 172, 237, 1) solid;
}

#verifyPersonModal span.input-group-text {
  border: 1px 0px 1px 1px solid white;
  background-color: rgba(198, 172, 237, 1);
}

#verifyPersonModal .modal-body,
#verifyPersonModal .modal-footer {
  margin: 0px;
}

#verifyPersonModal .modal-footer small {
  cursor: default;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  #registerComponent {
    position: relative;
    top: 91px;
  }

  #registerComponent::after {
    content: '';
    position: absolute;
  }

  #form-container {
    width: 275px;
  }
}

@media screen and (max-height: 775px) {
  #form-container {
    margin-bottom: 10px;
  }
}
