#updateAccountComponent #form-container {
  padding: 20px;
  background-color: rgba(198, 172, 237, 0.5);
  border-radius: 10px;
  width: 350px;
  top: 60px;
  bottom: 60px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#updateAccountComponent #form-container form input {
  color: rgba(198, 172, 237, 1);
  border: 2px white;
  text-transform: uppercase;
}

#updateAccountComponent #form-container form input::placeholder {
  color: rgba(198, 172, 237, 1);
  text-transform: none;
}

#updateAccountComponent #form-container form span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: 2px white;
  width: 41px;
}

#updateAccountComponent #form-container form i {
  color: white;
}

#updateAccountComponent #form-container form button {
  color: white;
  background-color: rgba(198, 172, 237, 1);
}

#updateAccountComponent #form-container form .alert span {
  color: red;
}

#updateAccountComponent #change-password button {
  background-color: rgba(198, 172, 237, 1);
  border: none;
  width: 350px;
  position: relative;
  top: 50px;
}

#updateAccountComponent #change-password button:focus {
  outline: none;
  box-shadow: none;
}

#updateAccountComponent #change-password button span,
#updateAccountComponent #change-password button i {
  color: white;
}

#updateAccountComponent #reset-password-modal .modal-content {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#updateAccountComponent #reset-password-modal .modal-content h5 {
  cursor: default;
  color: white;
}

#updateAccountComponent #reset-password-modal .modal-body,
#updateAccountComponent #reset-password-modal .modal-footer {
  margin: 0px;
}

#updateAccountComponent #reset-password-modal .modal-body i {
  color: white;
}

#updateAccountComponent #reset-password-modal .modal-body input {
  color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
}

#updateAccountComponent #reset-password-modal span {
  color: red;
}

#updateAccountComponent #reset-password-modal span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  width: 41px;
}

#updateAccountComponent #reset-password-modal .modal-content button {
  background-color: rgba(198, 172, 237, 1);
  border: 1px white solid;
  width: 115px;
}

#updateAccountComponent #reset-password-modal .modal-content button:hover {
  background-color: white;
  color: rgba(198, 172, 237, 1);
  border: 1px rgba(198, 172, 237, 1) solid;
}

@media screen and (max-width: 991px) {
  #updateAccountComponent #form-container {
    width: 275px;
    top: 10px;
    bottom: 10px;
  }

  #updateAccountComponent #change-password button {
    width: 275px;
    top: 0px;
  }
}
