<div id="updateAccountComponent" class="container-fluid">
  <div id="form-container" class="my-2">
    <form [formGroup]="updateAccountFormGroup" (ngSubmit)="onUpdateAccount()">
      <div formGroupName="formUser">
        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="firstNames" placeholder="Nombres:" />
        </div>
        <div *ngIf="firstNames.invalid && (firstNames.touched || firstNames.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="firstNames.errors.required || firstNames.errors.notOnlyWhitespace">Nombres es requirido</span>
          <br *ngIf="firstNames.errors.required || firstNames.errors.notOnlyWhitespace" />
          <span *ngIf="firstNames.errors.minlength">Nombres require al menos 2 letras</span>
          <br *ngIf="firstNames.errors.minlength" />
          <span *ngIf="firstNames.errors.mustBeExactlyTwoWords">Nombres debe ser dos palabras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="lastNames" placeholder="Apellidos:" />
        </div>
        <div *ngIf="lastNames.invalid && (lastNames.touched || lastNames.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="lastNames.errors.required || lastNames.errors.notOnlyWhitespace">Apellidos es requirido</span>
          <br *ngIf="lastNames.errors.required || lastNames.errors.notOnlyWhitespace" />
          <span *ngIf="lastNames.errors.minlength">Apellidos require al menos 2 letras</span>
          <br *ngIf="lastNames.errors.minlength" />
          <span *ngIf="lastNames.errors.mustBeExactlyTwoWords">Apellidos debe ser dos palabras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="street" placeholder="Calle:" />
        </div>
        <div *ngIf="street.invalid && (street.touched || street.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="street.errors.required || street.errors.notOnlyWhitespace">Calle es requirido</span>
          <br *ngIf="street.errors.required || street.errors.notOnlyWhitespace" />
          <span *ngIf="street.errors.minlength">Calle require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="number" placeholder="Número (y dpto):" />
        </div>
        <div *ngIf="number.invalid && (number.touched || number.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="number.errors.required || number.errors.notOnlyWhitespace">Número es requirido</span>
          <br *ngIf="number.errors.required || number.errors.notOnlyWhitespace" />
          <span *ngIf="number.errors.minlength">Número require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="city" placeholder="Ciudad:" />
        </div>
        <div *ngIf="city.invalid && (city.touched || city.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="city.errors.required || city.errors.notOnlyWhitespace">Ciudad es requirido</span>
          <br *ngIf="city.errors.required || city.errors.notOnlyWhitespace" />
          <span *ngIf="city.errors.minlength">Ciudad require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="province" placeholder="Provincia:" />
        </div>
        <div *ngIf="province.invalid && (province.touched || province.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="province.errors.required || province.errors.notOnlyWhitespace">Provincia es requirido</span>
          <br *ngIf="province.errors.required || province.errors.notOnlyWhitespace" />
          <span *ngIf="province.errors.minlength">Provincia require al menos 2 letras</span>
        </div>

        <div class="input-group mt-3">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="department" placeholder="Departamento:" />
        </div>
        <div *ngIf="department.invalid && (department.touched || department.dirty)" class="alert alert-danger mt-2 mb-0">
          <span *ngIf="department.errors.required || department.errors.notOnlyWhitespace">Departamento es requirido</span>
          <br *ngIf="department.errors.required || department.errors.notOnlyWhitespace" />
          <span *ngIf="department.errors.minlength">Departamento require al menos 2 letras</span>
        </div>

        <div class="row">
          <button type="submit" [disabled]="formUser.invalid || showLoading" class="btn mt-3 mx-auto">
            <i *ngIf="!showLoading" class="fas fa-user-edit"></i>
            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
            &nbsp;
            <span id="updateButton">Actualizar</span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div id="change-password" class="row">
    <button class="btn my-2 mx-auto" data-toggle="modal" data-target="#reset-password-modal">
      <i *ngIf="!showLoading" class="fas fa-key"></i>
      <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
      &nbsp;
      <span>Cambiar contraseña</span>
    </button>
  </div>

  <!-- reset password modal -->
  <div
    class="modal fade"
    id="reset-password-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="reset-password-modal-title"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reset-password-modal-title">Cambiar contraseña</h5>
        </div>
        <div class="modal-body">
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input [(ngModel)]="password_1" type="text" class="form-control" placeholder="Nueva contraseña:" />
          </div>
          <div *ngIf="password_1.length > 0 && !password_1.match('^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$')" class="alert alert-danger mt-2 mb-0">
            <span>Contraseña debe medir al menor 8 caracteres y tener al menos:</span>
            <br />
            <span> - un letra mayúscula</span>
            <br />
            <span> - una letra minúscula</span>
            <br />
            <span> - un número</span>
            <br />
            <span> - un caracter especial (#?!@$%^&*-)</span>
          </div>
          <div [hidden]="!password_1.match('^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$')" class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input [(ngModel)]="password_2" type="password" class="form-control" placeholder="Repetir nueva contraseña:" />
          </div>
          <div
            [hidden]="!password_1.match('^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$')"
            *ngIf="password_2.length > 0 && password_2 !== password_1"
            class="alert alert-danger mt-2 mb-0"
          >
            <span>La contraseña no es igual</span>
          </div>
        </div>
        <div class="modal-footer row">
          <div class="col-12">
            <button [hidden]="password_1.length === 0 || password_1 !== password_2" (click)="onResetPassword()" id="yesButton" type="button" class="btn btn-primary float-right">
              <i *ngIf="!showResetPasswordLoading" class="fas fa-check-circle"></i>
              <i *ngIf="showResetPasswordLoading" class="fas fa-spinner fa-spin"></i>
              &nbsp; Cambiar
            </button>
            <button id="noButton" type="button" class="btn btn-primary float-right mr-2" data-dismiss="modal">
              <i class="fas fa-times-circle"></i>
              &nbsp; Anular
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
