<div id="logoutComponent" class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mb-2">
      <h4>Salir de la aplicación?</h4>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button (click)="onLogout(false)" id="noButton" type="button" class="btn btn-primary float-right mr-2">
        <i class="fas fa-times-circle"></i>
        &nbsp; No
      </button>
      <button (click)="onLogout(true)" id="yesButton" type="button" class="btn btn-primary float-right">
        <i class="fas fa-check-circle"></i>
        &nbsp; Si
      </button>
    </div>
  </div>
</div>
