#logoutComponent {
  padding: 20px;
  background-color: rgba(198, 172, 237, 0.5);
  border-radius: 10px;
  width: 275px;
  color: white;
  font-family: 'Itim', 'cursive';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

#logoutComponent h4 {
  font-size: 20px;
}

#logoutComponent button {
  background-color: rgba(198, 172, 237, 1);
  border: 1px white solid;
  width: 72px;
}
