@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:host {
  background-color: rgba(198, 172, 237, 0.5) !important;
}

#addProductComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
}

h1 {
  font-family: 'Itim', 'cursive';
  font-size: 50px;
  color: rgba(198, 172, 237, 0.5) !important;
  width: 100%;
  cursor: default;
}

img {
  position: relative;
  margin: 0px;
  padding: 0px;
  left: calc(50% - 100px);
}

input::placeholder,
textarea::placeholder,
label,
select,
input,
textarea {
  color: rgba(198, 172, 237, 1);
}

input[type='file']:hover {
  cursor: pointer;
}

textarea[formControlName='description'] {
  height: 200px;
}

#addProductComponent span {
  color: red;
}

#addProductComponent .btn {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

/* change content of file selector button */
.custom-file-input ~ .custom-file-label::after {
  content: url('../../../../assets/bootstrap-icons/search.svg');
  background-color: rgba(198, 172, 237, 1);
}

@media screen and (max-width: 991px) {
  #addProductComponent {
    position: relative;
    top: 91px;
  }

  #addProductComponent::after {
    content: '';
    position: absolute;
  }
}
