<div id="addProductComponent" class="container-fluid">
  <h1 class="text-center py-2">{{ title }}</h1>

  <form [formGroup]="addProductFormGroup" (ngSubmit)="onSubmit()">
    <div formGroupName="product" class="form-area">
      <div class="row mt-2">
        <div class="col-md-12">
          <input class="form-control" formControlName="productName" type="text" placeholder="Nombre del Producto:" />
          <div *ngIf="productName.invalid && (productName.touched || productName.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="productName.errors.required || productName.errors.notOnlyWhitespace">Nombre del producto es requerido</span>
            <br *ngIf="productName.errors.required || productName.errors.notOnlyWhitespace" />
            <span *ngIf="productName.errors.pattern">Nombre del producto no puede contener _</span>
            <br *ngIf="productName.errors.pattern" />
            <span *ngIf="productName.errors.minlength">Nombre del producto necesita al menos 2 caracteres</span>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <input class="form-control" formControlName="brand" type="text" placeholder="Marca:" />
          <div *ngIf="brand.invalid && (brand.touched || brand.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="brand.errors.required || brand.errors.notOnlyWhitespace">Marca es requerido</span>
            <br *ngIf="brand.errors.required || brand.errors.notOnlyWhitespace" />
            <span *ngIf="brand.errors.pattern">Marca no puede contener _</span>
            <br *ngIf="brand.errors.pattern" />
            <span *ngIf="brand.errors.minlength">Marca necesita al menos 2 caracteres</span>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <select class="form-control" formControlName="category">
            <option disabled>Categoría:</option>
            <option *ngFor="let pc of productCategories" id="{{ pc.id }}">{{ pc.categoryName }}</option>
          </select>
          <div *ngIf="category.invalid && (category.touched || category.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="category.errors.valueCannotBeCategory">Categoría es requerido</span>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <input class="form-control" formControlName="price" type="number" step="0.01" placeholder="Precio en PEN:" />
          <div *ngIf="price.invalid && (price.touched || price.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="price.errors.required">Precio es requerido</span>
            <br *ngIf="price.errors.required" />
            <span *ngIf="price.errors.min">Precio no puede ser debajo de 0</span>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <input class="form-control" formControlName="stock" type="number" placeholder="Stock:" />
          <div *ngIf="stock.invalid && (stock.touched || stock.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="stock.errors.required">Stock es requerido</span>
            <br *ngIf="stock.errors.required" />
            <span *ngIf="stock.errors.min">Stock no puede ser debajo de 1</span>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <textarea class="form-control" formControlName="description" type="text" placeholder="Descripción:"></textarea>
          <div *ngIf="description.invalid && (description.touched || description.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="description.errors.required">Descripción es requerido</span>
            <br *ngIf="description.errors.required" />
            <span *ngIf="description.errors.minlength">Al menos 20 caracteres son requeridos</span>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <div class="custom-file">
            <input
              class="custom-file-input"
              type="file"
              accept=".png, .jpg, .jpeg"
              class="custom-file-input"
              id="customFile"
              formControlName="image"
              (change)="onFileSelected($event)"
            />
            <label class="custom-file-label" for="customFile">Cargar Imagen:</label>
          </div>
          <div *ngIf="image.invalid && (image.touched || image.dirty)" class="alert alert-danger mt-2 mb-0">
            <span *ngIf="image.errors.mustBePngJpgOrJpeg">Imagen debe tener extensión .png, .jpg o .jpeg</span>
          </div>

          <img [src]="imageUrl" width="200px" height="auto" class="mt-2" />
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary my-2">{{ buttonText }}</button>
      </div>
    </div>
  </form>
</div>

<div class="notificationContainer"></div>
