<!-- orders -->
<div id="ordersComponent" class="container-fluid">
  <div [hidden]="orders?.length === 0" class="order-info row flexbox">
    <div class="col-6 col-sm-3 text-center">
      <div id="paginationContainer" *ngIf="orders?.length > 0" class="row d-flex justify-content-center mt-1">
        <nav aria-label="Pagination for orders">
          <ul class="pagination">
            <li class="page-item mr-1">
              <a (click)="goDownOrderIndex()" class="page-link" tabindex="-1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li *ngFor="let order of orders; index as i" class="page-item">
              <a
                [hidden]="activeOrderIndex !== i"
                (click)="orderIndexSelected(i)"
                (mouseover)="activeOrderIndex === i ? '' : onOrderPaginationLinkMouseOver(i + 1)"
                (mouseleave)="activeOrderIndex === i ? '' : onOrderPaginationLinkMouseLeave(i + 1)"
                class="page-link orderLink"
                [ngStyle]="activeOrderIndex === i ? { background: 'rgba(198, 172, 237, 1)', color: 'white' } : { background: 'white', color: 'rgba(198, 172, 237, 1)' }"
                tabindex="-1"
                >{{ i + 1 }}</a
              >
            </li>
            <li class="page-item ml-1">
              <a (click)="goUpOrderIndex()" class="page-link" tabindex="-1" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-6 col-sm-3 text-center mt-1">
      <h4 class="btn btn-primary">Numéro de orden: {{ activeOrder?.id }}</h4>
    </div>
    <div class="col-6 col-sm-3 text-center mt-1">
      <h4 class="btn btn-primary">{{ activeOrder?.placementTime | date: 'd/M/yyyy, h:mm a' }}</h4>
    </div>
    <div class="col-6 col-sm-3 text-center mt-1">
      <h4 id="sendInformationLink" class="btn btn-primary" data-toggle="modal" data-target="#orderSendInformationModal">Información de envío</h4>
    </div>
  </div>

  <div [hidden]="!isAdmin" id="order-searchbar-container">
    <hr />
    <div id="order-searchbar" class="input-group mb-3 search-bar mx-auto mt-1">
      <input [(ngModel)]="email" type="email" class="form-control" placeholder="Buscar por email:" (keyup.enter)="searchOrdersByEmail()" />
      <div class="input-group-append">
        <button class="btn" type="button" (click)="searchOrdersByEmail()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <hr [hidden]="orders?.length === 0" />
  <div [hidden]="orders?.length === 0" class="row text-center">
    <div class="col-3"><h2>Imagen</h2></div>
    <div class="col-3"><h2>Nombre</h2></div>
    <div class="col-3"><h2>Cantidad</h2></div>
    <div class="col-3"><h2>Precio</h2></div>
  </div>
  <hr [hidden]="orders?.length === 0" />

  <div [hidden]="orders?.length === 0" class="mt-2">
    <div *ngFor="let ci of activeOrder?.cartItems">
      <div id="cartItem" class="row text-center mt-4 align-items-center">
        <div class="col-3">
          <img src="assets/images/cart_items/{{ ci.imageUrl }}" alt="{{ ci.name }}" />
        </div>
        <div class="col-3">
          <h2>{{ ci.name }}</h2>
        </div>
        <div class="col-3">
          <h2>{{ ci.quantity }}</h2>
        </div>
        <div class="col-3">
          <h2>{{ ci.price * ci.quantity | currency: 'S./' }}</h2>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h2 style="color: white" class="col-12 my-3 text-right">Precio total: {{ activeOrder?.totalPrice | currency: 'S./' }}</h2>
      </div>
    </div>
  </div>

  <!-- send information modal -->
  <div
    (click)="closeSendInformationModal()"
    class="modal fade"
    id="orderSendInformationModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="orderSendInformationModalTitle"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderSendInformationModalTitle">Información de envio</h5>
        </div>
        <div class="modal-body">
          <!-- send_firstNames -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_firstNames" />
          </div>

          <!-- send_lastName_1 + send_lastName_2 -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_lastNames" />
          </div>

          <!-- send_street -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_address?.street" />
          </div>

          <!-- send_number -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_address?.number" />
          </div>

          <!-- send_city -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_address?.city" />
          </div>

          <!-- send_province -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_address?.province" />
          </div>

          <!-- send_department -->
          <div class="input-group mt-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-shipping-fast"></i></span>
            </div>
            <input class="form-control" disabled type="text" [value]="activeOrder?.send_address?.department" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
