#ordersComponent #paginationContainer .pagination {
  margin-bottom: 7px;
}

#ordersComponent #paginationContainer a {
  cursor: pointer;
  color: rgba(198, 172, 237, 1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ordersComponent #paginationContainer a:hover {
  background: rgba(198, 172, 237, 1);
  color: white;
}

#ordersComponent #paginationContainer a:focus {
  outline: none;
  box-shadow: none;
}

#ordersComponent h2 {
  color: rgba(198, 172, 237, 1);
  font-size: 22px;
  margin-bottom: 0%;
}

#ordersComponent h4 {
  color: white;
  font-size: 15px;
  margin-bottom: 0%;
  cursor: default;
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#ordersComponent h4#sendInformationLink {
  cursor: pointer;
}

#ordersComponent #order-searchbar,
#ordersComponent #order-searchbar-container .alert {
  width: 50%;
}

#ordersComponent #order-searchbar input {
  width: 25vw;
  border: 2px solid rgba(198, 172, 237, 1);
  color: rgba(198, 172, 237, 1);
}

#ordersComponent #order-searchbar input[type='email']::placeholder {
  color: rgba(198, 172, 237, 1) !important;
}

#ordersComponent #order-searchbar button {
  background: rgba(198, 172, 237, 1);
  z-index: 0;
}

#ordersComponent #orderSendInformationModal .modal-content {
  background-color: rgba(198, 172, 237, 1);
  border: none;
}

#ordersComponent #orderSendInformationModal .modal-content h5 {
  cursor: default;
  color: white;
}

#ordersComponent #orderSendInformationModal .modal-body i {
  color: white;
}

#ordersComponent #orderSendInformationModal .modal-body input {
  color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  text-transform: uppercase;
}

#ordersComponent #orderSendInformationModal span.input-group-text {
  background-color: rgba(198, 172, 237, 1);
  border: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  border-left: solid 1px white;
  width: 41px;
}

#ordersComponent img {
  height: 200px;
}

@media screen and (max-width: 991px) {
  #ordersComponent h2 {
    font-size: 2vw;
  }

  #ordersComponent img {
    height: 23vw;
  }

  #ordersComponent #order-searchbar,
  #ordersComponent #order-searchbar-container .alert {
    width: 100%;
  }
}

@media screen and (max-width: 521px) {
  #ordersComponent h2 {
    position: relative;
    font-size: 12px;
    left: 15px;
  }

  #ordersComponent h4 {
    font-size: 12px;
  }
}
