/* You can add global styles to this file, and also import other style files */

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@import '~angular-notifier/styles';

.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  bottom: 50px;
  cursor: default;
  z-index: 1;
}

.toast strong {
  color: rgba(198, 172, 237, 1);
}

.toast button:focus {
  outline: none;
  box-shadow: none;
}
