#profileComponent {
  background-color: rgba(198, 172, 237, 0.5);
  min-height: calc(100vh - 91px);
  z-index: 1 !important;
  font-family: 'Itim', 'cursive';
}

#profileComponent h1 {
  font-size: 50px;
  color: white !important;
  width: 100%;
  cursor: default;
}

#profileContainer {
  display: flex;
  margin-left: 0px;
  overflow-x: auto;
  scrollbar-color: rgba(198, 172, 237, 1) white;
}

#profileContainer::-webkit-scrollbar {
  height: 10px;
  background-color: rgba(198, 172, 237, 1);
  border-radius: 15px;
}

#profileContainer::-webkit-scrollbar-track-piece {
  background-color: white;
  border-radius: 15px;
}

#profileContainer::-webkit-scrollbar-thumb {
  background-color: rgba(198, 172, 237, 1);
  border-radius: 15px;
}

#profileContainer a {
  font-size: 20px;
  color: white;
  white-space: nowrap;
}

#profileContainer a:hover {
  color: rgba(198, 172, 237, 1) !important;
  animation: color 4.5s ease forwards;
  background-image: linear-gradient(0deg, rgba(198, 172, 237, 1), rgba(253, 102, 195, 0.5)) !important;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  #profileComponent {
    /* position: relative;
    top: 91px; */
    margin-top: 91px;
  }

  #profileComponent::after {
    content: '';
    position: absolute;
  }
}
