<div id="profileComponent" class="container-fluid">
  <h1 class="text-center">Hola, {{ user?.firstNames.split(' ')[0] }}</h1>

  <div id="profileContainer">
    <div *ngFor="let action of actions" class="mt-2">
      <a
        [hidden]="(action.title === 'Ordenes' && !isAdmin) || (action.title === 'Mis Compras' && isAdmin) || (action.title === 'Usuarios' && !isAdmin)"
        [ngStyle]="{ color: action.title === selectedActionTitle ? 'rgba(198, 172, 237, 1)' : 'white' }"
        routerLink="{{ action.url }}"
        (click)="showProfileSection(action.title); colorProfileLink($event)"
        id="{{ action.title }}"
        class="mx-2 mb-1 profileLink"
        >{{ action.title }}</a
      >
    </div>
  </div>

  <!-- orders overview -->
  <app-orders-overview [hidden]="selectedActionTitle != 'Mis Compras' && selectedActionTitle != 'Ordenes'"></app-orders-overview>

  <!-- users overview -->
  <app-users-overview [hidden]="selectedActionTitle != 'Usuarios' || !isAdmin"></app-users-overview>

  <!-- update account -->
  <app-update-account [hidden]="selectedActionTitle != 'Actualizar Cuenta'"></app-update-account>

  <!-- logout -->
  <app-logout [hidden]="selectedActionTitle != 'Salir'"></app-logout>
</div>

<div class="notificationContainer"></div>
